<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Django</title>
</head>
<body>
<form method="POST" action="create_task/{{board.id}}">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <input type="submit" value="Создать">
</form>
<div class="big-daddy-div">
    <div class="NotAccepted">
        <h1>Not accepted</h1>
        {% for task in not_accepted_tasks %}
        <div style="border: 2px solid black">
            <p>Task id: {{task.id}}</p>
            <p>Title: {{task.task_title}}</p>
            <p>Task: {{task.task_text}}</p>
            <p>End: {{task.time_of_ending}}</p>
            <form method="POST" action=delete_task/{{task.id}}>
                {% csrf_token %}
                <input type="submit" value="Удалить">
            </form>
            <form method="POST" action="status_change_up/{{task.id}}">
                {% csrf_token %}
                <input type="submit" value="->">
            </form>
            <form action="edit_task/{{task.id}}">
                <input type="submit" value="edit">
            </form>
        </div>
        {% endfor %}
    </div>


    <div class="NotAccepted">
        <h1>Accepted</h1>
        {% for task in accepted_tasks %}
        <div style="border: 2px solid black">
            <p>Task id: {{task.id}}</p>
            <p>Title: {{task.task_title}}</p>
            <p>Task: {{task.task_text}}</p>
            <p>End: {{task.time_of_ending}}</p>
            <form method="POST" action=delete_task/{{task.id}}>
                {% csrf_token %}
                <input type="submit" value="Удалить">
            </form>
            <form method="POST" action="status_change_down/{{task.id}}">
                {% csrf_token %}
                <input type="submit" value="<-">
            </form>
            <form method="POST" action="status_change_up/{{task.id}}">
                {% csrf_token %}
                <input type="submit" value="->">
            </form>
            <form action="edit_task/{{task.id}}">
                <input type="submit" value="edit">
            </form>
        </div>
        {% endfor %}
    </div>


    <div class="NotAccepted">
        <h1>In progress</h1>
        {% for task in in_progress_tasks %}
        <div style="border: 2px solid black">
            <p>Task id: {{task.id}}</p>
            <p>Title: {{task.task_title}}</p>
            <p>Task: {{task.task_text}}</p>
            <p>End: {{task.time_of_ending}}</p>
            <form method="POST" action=delete_task/{{task.id}}>
                {% csrf_token %}
                <input type="submit" value="Удалить">
            </form>
            
            <form method="POST" action="status_change_down/{{task.id}}">
                {% csrf_token %}
                <input type="submit" value="<-">
            </form>
            <form method="POST" action="status_change_up/{{task.id}}">
                {% csrf_token %}
                <input type="submit" value="->">
            </form>
            <form action="edit_task/{{task.id}}">
                <input type="submit" value="edit">
            </form>
        </div>
        {% endfor %}
    </div>


    <div class="NotAccepted">
        <h1>Completed</h1>
        {% for task in completed_tasks %}
        <div style="border: 2px solid black">
            <p>Task id: {{task.id}}</p>
            <p>Title: {{task.task_title}}</p>
            <p>Task: {{task.task_text}}</p>
            <p>End: {{task.time_of_ending}}</p>
            <form method="POST" action=delete_task/{{task.id}}>
                {% csrf_token %}
                <input type="submit" value="Удалить">
            </form>
            <form method="POST" action="status_change_down/{{task.id}}">
                {% csrf_token %}
                <input type="submit" value="<-">
            </form>
            <form action="edit_task/{{task.id}}">
                <input type="submit" value="edit">
            </form>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>

<style>
    .NotAccepted{
        margin: 5px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 2px solid black
    }
    .NotAccepted div {
        width: 100%;
    }
    .big-daddy-div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: top;
    }
</style>